<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AddShop</servlet-name>
        <servlet-class>Controller.AddShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategories</servlet-name>
        <servlet-class>Controller.GetCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryImage</servlet-name>
        <servlet-class>Controller.GetCategoryImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShop</servlet-name>
        <servlet-class>Controller.GetShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShopImage</servlet-name>
        <servlet-class>Controller.GetShopImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shops</servlet-name>
        <servlet-class>Controller.Shops</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>Controller.UpdateAccount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddShop</servlet-name>
        <url-pattern>/AddShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategories</servlet-name>
        <url-pattern>/GetCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryImage</servlet-name>
        <url-pattern>/GetCategoryImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShop</servlet-name>
        <url-pattern>/GetShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShopImage</servlet-name>
        <url-pattern>/GetShopImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shops</servlet-name>
        <url-pattern>/Shops</url-pattern>
    </servlet-mapping>
</web-app>